:root {
    --primary-color: #5756D6;
    --secondary-color: #FF6249;
    --accent-color: #D4F75F;
    --black: #1B1B1B;
    --white: #F7FCFD;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

#map {
    height: 100vh;
    width: 100vw;
}

h1 {
    font-family: "obviously", sans-serif;
}

h2 {
    font-family: "obviously-narrow", sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
}

.h2__highlight {
    color: var(--primary-color);
}