:root {
    --primary-color: #5756D6;
    --secondary-color: #FF6249;
    --accent-color: #D4F75F;
    --black: #1B1B1B;
    --white: #F7FCFD;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    width: 100%;
    background-color: var(--primary-color);
    overflow-x: hidden;
}

#map {
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: "obviously", sans-serif;
}

h2 {
    font-family: "obviously", sans-serif;
}

.h2__highlight {
    color: var(--primary-color);
}

.button-wrapper {
    background-color: var(--accent-color);
    padding: 1rem 0.3rem;
    width: fit-content;
    margin: 1rem;
}

.button {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 0.3rem 0.5rem;
    border: 0.1rem solid var(--black);
    text-decoration: none;
    color: var(--black);
}

.bold {
    font-weight: 600;
}

.blue {
    color: var(--primary-color);
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.detail {
    position: relative;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.start {
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
    height: 90vh;
}

.start__image {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
}

.start__img,
.start__labels {
    grid-column: 1;
    grid-row: 1;
    max-width: 100vw;
}

.start__labels {
    position: relative;
    top: 0;
    left: 0;
}


.start__subtitle {
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    line-height: 170%;
    padding: 3rem 0rem;
}

.tile {
    border: 0.5rem solid var(--white);
    display: flex;
    justify-self: center;
}

.start__text {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--white);
    padding: 4rem;
}

.story {
    position: relative;
    margin-top: 1rem;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 30% 2fr;
}

.story__subtitles {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    height: 8rem;
    padding-top: 2rem;
    z-index: 10;
}

.story__subtitle1,
.story__subtitle2,
.story__subtitle3,
.story__subtitle4 {
    background-color: var(--white);
    font-weight: 500;
    padding: 0.8rem;
    text-align: center;
    font-size: 1.25rem;
    height: fit-content;
}

.top1,
.top2,
.top3,
.top4 {
    rotate: 2deg;
    transform: translateX(-100%);
    grid-column: 1;
    grid-row: 1;
}

.bottom1,
.bottom2,
.bottom3 {
    transform: translateX(100%);
    grid-column: 1;
    grid-row: 2;
    rotate: -2deg;
}

.story__texts,
.story__animations {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.story__animation1,
.story__animation2,
.story__animation3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.story__animations {
    grid-column: 1;
    grid-row: 2 / span 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.story__texts {
    grid-column: 1;
    grid-row: 3;
    transform: translateY(25%);
    z-index: 10;
}

.story__text1,
.story__text2,
.story__text3 {
    border: 0.1rem solid var(--black);
    background-color: var(--white);
    padding: 1rem;
    border-radius: 0rem 2.5rem 2.5rem 2.5rem;
    max-width: 23rem;
    margin: 2rem 0.8rem;
    line-height: 150%;
    overflow: hidden;
    position: relative;
    opacity: 0;
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
}

.image {
    display: flex;
    justify-self: center;
    z-index: 2;
}

.image-wrapper {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-self: center;
    align-self: center;
}

#map {
    max-height: 50vh;
}

/* peel-animation */
.peel-container {
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;
    /* padding: 4rem 2rem; */
    color: var(--white);
    background: var(--black);
    min-height: 70vh;
    top: 0;
    left: 0;
}

.peel-effect {
    position: absolute;
    inset: 0;
    background: var(--primary-color);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.corner-peel {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 6rem;
    height: 6rem;
    margin-right: -1rem;
}

.sticker-wrapper {
    z-index: 1;
    position: absolute;
    top: -5vh;
    left: -8vw;
}

.triangle-fill {
    position: absolute;
    inset: 0;
    background-color: var(--secondary-color);
    z-index: 0;
    clip-path: polygon(0% 0%, 100% 0, 0% 100%);

}

.triangle-mask {
    position: absolute;
    inset: 0;
    background-color: var(--primary-color);
    z-index: 0;
    clip-path: polygon(0% 100%, 0% 100%, 0% 0%);
    transform: rotate(-90deg);
}