---
import "../styles/reset.css";
import "../styles/global.css";
import { Image } from "astro:assets";
import insta from "../assets/icon/brand-instagram.svg";
import tiktok from "../assets/icon/logo-tiktok.svg";
import kortrijk from "../assets/logo/kortrijk.svg";
import museak from "../assets/logo/musea-kortrijk.svg";
---

<div class="contact">
    <h1 class="contact__title">Contact</h1>
    <div class="contact__info">
        <section>
            <h2>Anke D’Haene</h2>
            <p>
                Programmamaker kunst publieke ruimte en projectleider stadsbrede
                tentoonstellingen
            </p>
            <p class="medium mail">anke.dhaene@kortrijk.be</p>
            <p class="medium tel">+32 473 13 34 95</p>
        </section>
        <section>
            <h2>Lieselotte Peperstraete</h2>
            <p>Deskundige kunst publieke ruimte</p>
            <p class="medium mail">lieselotte.peperstraete@kortrijk.be</p>
            <p class="medium tel">+32 478 67 25 90</p>
        </section>
        <section>
            <h2 class="purple">Follow us</h2>
            <div class="socials">
                <Image class="image" src={insta} alt="icon Instagram" />
                <Image class="image" src={tiktok} alt="icon Tiktok" />
            </div>
        </section>
        <section class="white">
            <Image class="image" src={kortrijk} alt="icon Kortrijk stad" />
            <Image class="image" src={museak} alt="icon musea Kortrijk" />
        </section>
    </div>
    <div class="contact__logos"></div>
</div>

<style>
    .contact {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color: var(--black);
    }
    .contact__title {
        display: flex;
        text-align: center;
        align-self: center;
        color: var(--white);
        font-size: 2rem;
        font-weight: 700;
        margin: 2.5rem;
    }
    .contact__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        color: var(--white);
    }

    section {
        max-width: 25rem;
    }

    h2 {
        background-color: var(--secondary-color);
        width: fit-content;
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        margin: 1rem;
        padding-bottom: 1rem;
        font-family: "obviously-narrow", sans-serif;
    }

    .purple {
        background-color: var(--primary-color);
    }

    .medium {
        font-weight: 500;
    }

    p {
        margin: 1rem;
        font-size: 1rem;
        line-height: 25px;
    }

    .mail,
    .tel {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .mail::before,
    .tel::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
    }

    .mail::before {
        background: url("../assets/icon/mail.svg") no-repeat center/contain;
    }

    .tel::before {
        background: url("../assets/icon/tel.svg") no-repeat center/contain;
    }

    .socials {
        margin: 1rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .white {
        background-color: var(--white);
        padding: 1rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
</style>
