---
import "../styles/reset.css";
import "../styles/global.css";
import { Image } from "astro:assets";
import museak from "../assets/logo/musea-kortrijk.svg";
---

<header class="header">
    <nav>
        <a href="/behindthelabel/">
            <Image class="museak" src={museak} alt="musea kortrijk logo" />
        </a>
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <ul class="nav-menu">
            <li>
                <a class="nav-item" href="/behindthelabel/#about">about us</a>
            </li>
            <li><a class="nav-item" href="/behindthelabel/#map">map</a></li>
            <li>
                <a class="nav-item" href="/behindthelabel/overview">artworks</a>
            </li>
        </ul>
    </nav>
</header>
<style>
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        border-bottom: 0.1rem solid var(--black);
        max-width: 100%;
        position: relative;
        z-index: 999;
    }

    .museak {
        height: auto;
        width: 15rem;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: absolute;
        top: 2rem;
        right: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
        opacity: 0;
        pointer-events: none;
        transform: translateY(-20px);
        transition:
            opacity 0.3s,
            transform 0.3s;
    }

    .nav-item {
        text-decoration: none;
        color: var(--white);
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 500;
        background-color: var(--black);
        padding: 1rem 3rem;
        margin: 1rem;
        text-align: center;
        display: flex;
        justify-self: center;
        justify-content: center;
        width: 12rem;
    }

    .nav-menu li:nth-child(1) .nav-item {
        transform: rotate(-5deg);
    }

    .nav-menu li:nth-child(2) .nav-item {
        transform: rotate(3deg);
    }

    .nav-menu li:nth-child(3) .nav-item {
        transform: rotate(8deg);
    }

    .nav-menu {
        display: flex;
        justify-content: center;
    }

    .hamburger span {
        display: block;
        height: 0.1rem;
        width: 2.5rem;
        background: var(--white);
        border-radius: 2px;
        transition: all 0.3s ease;
        margin: 0.8rem;
    }

    .nav-menu.active {
        opacity: 1;
        pointer-events: auto;
        left: 0;
        top: 120%;
        height: 90vh;
        background-color: var(--primary-color);
        border-top: 0.1rem solid var(--black);
    }

    .hamburger.active span:nth-child(1) {
        transform: translateY(0.9rem) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        transform: translateY(-0.9rem) rotate(-45deg);
    }
</style>
