---
import "../styles/global.css";
import artworks from "../data/artworks.js";
---

<a href="/">Home</a>
<a href="/#about">About</a>
<a href="/#where">Map</a>
<label for="artwork-select">Artworks</label>

<select name="artworks" id="artwork-select">
    <option value="">--Please choose an option--</option>
    {
        artworks.map((art) => (
            <option value={art.slug}>
                {art.title}
            </option>
        ))
    }
</select>
