---
import "../styles/global.css";
const { text } = Astro.props;
---

<div class="bubble-wrapper">
    <p class="bubble">{text}</p>
</div>

<style>
    .bubble-wrapper {
        overflow: hidden;
        width: 100%;
    }
    .bubble {
        border: 0.1rem solid var(--black);
        padding: 1rem;
        max-width: 100%;
        border-radius: 0rem 3rem 3rem 3rem;
        background-color: var(--white);
        opacity: 0;
        transform: translateX(100%);
    }
</style>
