---
import "../styles/global.css";
const { subtitle } = Astro.props;
---

<div class="subtitle-wrapper">
    <h2 set:html={subtitle} class="subtitle" />
</div>

<style>
    .subtitle-wrapper {
        overflow: hidden; 
        width: 100%;
    }
    .subtitle {
        font-family: "obviously", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2rem;
        background-color: var(--white);
        border: 0.1rem solid var(--black);
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: center;
        justify-self: center;
        max-width: 100%;
        white-space: pre;
        rotate: 3deg;
        opacity: 0;
        transform: translateX(100%);
        text-align: center;
    }
</style>
