---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import ballerinaman from "../../assets/artworks/ballerinaman.png";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Ballerina en man?
            </h2>
            <Image class="ballerinaman" src={ballerinaman} alt="ballerinaman" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    <span class="bold blue">Watching</span> over the square
                </h2>
                <h2 class="story__subtitle1 bottom1">at Veemarkt</h2>
                <h2 class="story__subtitle2 top2">They are in their own</h2>
                <h2 class="story__subtitle2 bottom2">
                    <span class="bold blue">inner, psychological</span> world
                </h2>
                <h2 class="story__subtitle3 top3">
                    Crafted by <span class="bold blue">Stephan Balkenhol</span>,
                </h2>
                <h2 class="story__subtitle3 bottom3">a classic sculptor</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Ballerina en Man</span
                    >?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={ballerinaman} alt="ballerinaman" />
            </div>
            <div class="story__animations">
                <div class="story__animation1"></div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    At <span class="bold">Veemarkt</span>, you can see two
                    life-sized figures. The ballerina stands gracefully on a red
                    ball, perched high on a pole, while the man, dressed in
                    everyday clothes, stands on a stack of solid concrete discs
                    of different sizes. Calm and composed, they quietly <span
                        class="bold">watch over</span
                    > the square.
                </p>
                <p class="story__text2">
                    The figures are there, but they don’t demand your attention.
                    The artist chose to place them so they don’t interact with
                    each other, each one looks off in its <span class="bold"
                        >own direction</span
                    >. Any movement or expression was deliberately left out,
                    focusing instead on an <span class="bold"
                        >inner, psychological world</span
                    >.
                </p>
                <p class="story__text3">
                    <span class="bold">Rollegem</span> is adding more art to public
                    spaces, which is why this doll now stands in the district’s center.
                    For the artist, <span class="bold">freedom</span> comes from <span
                        class="bold">letting go of fear</span
                    >, facing criticism, and trusting ourselves. Analucia
                    designed the piece to show how we can <span class="bold"
                        >break out</span
                    > of the boxes we create and follow our own path.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Ballerina en man";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/ballerinaman.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
