---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import happily from "../../assets/artworks/happily.png";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Happily ever after?
            </h2>
            <Image class="happily" src={happily} alt="happily" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">This artwork shows</h2>
                <h2 class="story__subtitle1 bottom1">
                    <span class="blue bold">Bissegem</span> in motion
                </h2>
                <h2 class="story__subtitle2 top2">
                    This artwork <span class="blue bold">reflects</span>
                </h2>
                <h2 class="story__subtitle2 bottom2">
                    everything and everyone
                </h2>
                <h2 class="story__subtitle3 top3">
                    <span class="blue bold">Pause</span> for a moment
                </h2>
                <h2 class="story__subtitle3 bottom3">and reflect!</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="blue bold">Tegel Tableaus</span>?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={happily} alt="happily" />
            </div>
            <div class="story__animations">
                <div class="story__animation1"></div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    This isn’t just any mirror. It’s basically a huge mirror
                    artwork that’s always in <span class="bold">motion</span>.
                    It shifts with the light, the <span class="bold"
                        >weather</span
                    >, and even the people who just walk by. Every moment it
                    looks a little different, almost like
                    <span class="bold">it’s alive and reacting to you</span>.
                </p>
                <p class="story__text2">
                    It’s a <span class="bold">16-meter-long</span> iconic landmark
                    that blurs the line between the artwork and its surroundings.
                    The <span class="bold">mirror effect</span>
                    multiplies the newly designed park and gets people interacting
                    with both the space and each other. It doesn’t just <span
                        class="bold">reflect the physical world</span
                    >. It <span class="bold">reflects everyone</span> who’s there
                    too.
                </p>
                <p class="story__text3">
                    The piece invites walkers and cyclists to <span class="bold"
                        >pause for a moment</span
                    >
                    and <span class="bold">reflect</span>. Take a sec to be <span
                        class="bold">aware of the nature</span
                    > around you.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style></style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/happily.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
