---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import ileadtheway from "../../assets/artworks/ileadtheway.png";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Ik leid de weg?
            </h2>
            <Image class="ileadtheway" src={ileadtheway} alt="ileadtheway" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    Kiwanis Kortrijk is known for
                </h2>
                <h2 class="story__subtitle1 bottom1">
                    its cute <span class="bold blue">Kiwani dolls</span>.
                </h2>
                <h2 class="story__subtitle2 top2">
                    <span class="bold blue">Celebrate</span> life loudly
                </h2>
                <h2 class="story__subtitle3 top3">
                    <span class="bold blue">Break out</span> of the boxes
                </h2>
                <h2 class="story__subtitle3 bottom3">we create for ourself</h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Ik leid de weg?</span>
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={ileadtheway} alt="ileadtheway" />
            </div>
            <div class="story__animations">
                <div class="story__animation1"></div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    They donate them to <span class="bold"
                        >kids in Pediatrics</span
                    > to help them feel safe. For their <span class="bold"
                        >50th anniversary</span
                    >, they did something special. They asked local artists to
                    <span class="bold">paint</span> a giant, life-sized version of
                    the doll in their own style. The dolls were later sold to <span
                        class="bold">raise money</span
                    > for children's projects.
                </p>
                <p class="story__text2">
                    This one was created by <span class="bold"
                        >Analucia Moreno Concha, a Mexican artist</span
                    > who grew up in Kortrijk. Her style is full of colour and energy,
                    inspired by <span class="bold">Otomi embroidery</span> from her
                    culture. The colours in this piece are all about <span
                        class="bold">celebration</span
                    >, joy, and living life loudly.
                </p>
                <p class="story__text3">
                    <span>Rollegem</span> is adding more art to public spaces, which
                    is why this doll now stands in the district’s center. For the
                    artist, <span class="bold">freedom</span> comes from <span
                        class="bold">letting go of fear</span
                    >, facing criticism, and trusting ourselves. Analucia
                    designed the piece to show how we can <span class="bold"
                        >break out</span
                    > of the boxes we create and follow our own path.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Ik leid de weg";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/ileadtheway.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
