---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import mentie from "../../assets/artworks/mentie.png";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Mentie?
            </h2>
            <Image class="mentie" src={mentie} alt="mentie" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">
                    This artwork tells the story
                </h2>
                <h2 class="story__subtitle1 bottom1">
                    of a successful <span class="bold blue">cyclist</span>
                </h2>
                <h2 class="story__subtitle2 top2">Bellegem gets lit for the</h2>
                <h2 class="story__subtitle2 bottom2">
                    <span class="bold blue">‘Village of the Tour’</span> ‘Village
                    of the Tour’
                </h2>
                <h2 class="story__subtitle3 top3">The cyclist's hometown</h2>
                <h2 class="story__subtitle3 bottom3">
                    is <span class="bold blue">Bellegem</span>
                </h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue">Mentie</span>?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={mentie} alt="mentie" />
            </div>
            <div class="story__animations">
                <div class="story__animation1"></div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    Flemish cyclist <span class="bold">Germain Derycke</span> (1929–1979)
                    was a successful racer, racking up <span class="bold"
                        >trophies</span
                    > in races in Milan, Paris, Liège, and more. He even won the Tour
                    of Flanders in 1958.
                </p>
                <p class="story__text2">
                    Fifty years later, in 2008, Bellegem got to call itself the
                    <span class="bold">“Village of the Tour.”</span> This came with
                    <span class="bold">big celebrations</span>. As a <span
                        class="bold">tribute</span
                    > to the cyclist, a sculpture was created themed around the race
                    and Bellegem, the green lung and the highest point of Kortrijk.
                </p>
                <p class="story__text3">
                    The cyclist is shown riding through the <span class="bold"
                        >Bellegem landscape</span
                    >, with the church, the old town hall, his birthplace, and
                    the Muur of Geraardsbergen in the background.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Mentie";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/mentie.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
