---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import plinth from "../../assets/artworks/plinth.png";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Untitled?
            </h2>
            <Image class="plinth" src={plinth} alt="plinth" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">This artwork is made</h2>
                <h2 class="story__subtitle1 bottom1">
                    for the redesign of <span class="bold blue">Kooigem</span>
                </h2>
                <h2 class="story__subtitle2 top2">
                    Is this artwork <span class="blue bold">unfinished</span>?!?
                </h2>
                <h2 class="story__subtitle3 top3">
                    This artwork is <span class="bold blue">finished</span>!!
                </h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="blue bold">Untitled</span>?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image class="image" src={plinth} alt="plinth" />
            </div>
            <div class="story__animations">
                <div class="story__animation1"></div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    In 2007, Kortrijk picked <span class="bold"
                        >Leon Vranken</span
                    > to create the artwork for the new redesign of the city center
                    of Kooigem.
                </p>
                <p class="story__text2">
                    Back in the day, a square wasn’t considered <span
                        class="bold">“finished”</span
                    > until its <span class="bold">artwork was unveiled</span> and
                    this piece is all about reinforcing that idea. Since there’s <span
                        class="bold">no sculpture</span
                    > on the pedestal, it feels like the artwork, and the square itself,
                    isn’t completely finished yet. That sense of being <span
                        class="bold">“unfinished”</span
                    >
                    is actually a recurring theme in Vranken’s work.
                </p>
                <p class="story__text3">
                    At first glance, it looks <span class="bold">“empty,”</span> but
                    it actually hides a bunch of classic <span class="bold"
                        >public-space features</span
                    > like a bike rack, water fountain, tap, and even a mailbox. He
                    pays close attention to materials and small, minimal touches that
                    create a really striking, almost surreal effect.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .start__subtitle::after {
        content: "Untitled";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/plinth.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
