---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import squarecircle from "../../../public/assets/img/squarecircle.png";
import ring from "../../../public/assets/img/ring.svg";
---

<Layout>
    <div class="detail">
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Cirkel & Vierkant?
            </h2>
            <Image
                class="squarecircle"
                src={squarecircle}
                alt="square and circle"
            />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story hidden">
            <div class="story__bg"></div>
            <div class="story__subtitles">
                <h2 class="story__subtitle1 top1">This artwork was created</h2>
                <h2 class="story__subtitle1 bottom1">
                    by jeweller <span class="blue bold">Tine Vindevogel</span>
                </h2>
                <h2 class="story__subtitle2 top2">
                    <span class="blue bold">Balance </span>each other out
                </h2>
                <h2 class="story__subtitle3 top3">
                    A window for <span class="blue bold">nature</span>
                </h2>
                <h2 class="story__subtitle4 top4">
                    Where to see <span class="bold blue"
                        >Cirkel en vierkant</span
                    >?
                </h2>
            </div>
            <div class="image-wrapper">
                <Image
                    class="image"
                    src={squarecircle}
                    alt="square and circle"
                />
            </div>
            <div class="story__animations">
                <div class="story__animation1">
                    <Image class="ring" src={ring} alt="ring" />
                    <p class="bling bling1">bling</p>
                    <p class="bling bling2">bling</p>
                    <p class="bling bling3">bling</p>
                </div>
                <div class="story__animation2"></div>
                <div class="story__animation3"></div>
            </div>
            <div class="story__texts">
                <p class="story__text1">
                    It’s actually a <span class="bold">blown-up</span> version of
                    a jewel she originally designed for a provincial competition for
                    young artists. The <span class="bold">story</span>
                    behind the work is pretty cool: the large square acts like a frame,
                    giving the circle space to <span class="bold">“talk”</span> with
                    the <span class="bold">background</span>.
                </p>
                <p class="story__text2">
                    The sculpture is made from <span class="bold"
                        >two simple shapes</span
                    > that are complete <span class="bold">opposites</span>, but
                    still
                    <span class="bold">balance</span> each other out. It feels almost
                    like an <span class="bold">abstract</span>
                    code based on nature.
                </p>
                <p class="story__text3">
                    The <span class="bold">ring</span> between the two shapes links
                    them together and works like a <span class="bold"
                        >window</span
                    > looking into the garden and surrounding <span class="bold"
                        >nature</span
                    >. The environment isn’t just the setting, it’s part of the
                    artwork.
                </p>
            </div>
        </div>
    </div>
</Layout>
<style>
    .image {
        z-index: 0;
        margin-top: 4rem;
    }

    .ring {
        position: absolute;
        left: 50vw;
        top: -8vw;
    }

    .bling {
        background-color: var(--black);
        color: var(--white);
        font-family: "obviously-narrow", "sans-serif";
        font-weight: 500;
        padding: 0.5rem 0.8rem;
        padding-bottom: 0.8rem;
        text-transform: uppercase;
        height: min-content;
        position: relative;
        font-size: 2.25rem;
        opacity: 0;
    }

    .bling1 {
        rotate: -5deg;
        position: absolute;
        z-index: 2;
        top: 15vh;
        left: 10vw;
    }

    .bling1::after {
        content: "";
        width: 3rem;
        height: 3rem;
        background: url("../../assets/icon/bling.svg") no-repeat center/contain;
        background-color: transparent;
        position: absolute;
        top: -2rem;
        left: 4.9rem;
        rotate: 5deg;
        z-index: 3;
    }

    .bling2 {
        rotate: 5deg;
        position: absolute;
        z-index: 2;
        top: 25vh;
        left: 60vw;
    }

    .bling2::before {
        content: "";
        width: 3rem;
        height: 3rem;
        background: url("../../assets/icon/bling.svg") no-repeat center/contain;
        background-color: transparent;
        position: absolute;
        top: -1.4rem;
        left: -2rem;
        rotate: 5deg;
        z-index: 3;
    }

    .bling3 {
        rotate: 10deg;
        position: absolute;
        z-index: 2;
        top: 35vh;
        left: 20vw;
    }

    .bling3::after {
        content: "";
        width: 3rem;
        height: 3rem;
        background: url("../../assets/icon/bling.svg") no-repeat center/contain;
        background-color: transparent;
        position: absolute;
        top: 2rem;
        left: 5.5rem;
        rotate: 10deg;
        z-index: 3;
    }
</style>
<script>
    import { setupScrollAnimations } from "../../scripts/artworks/squarecircle.js";

    const start = document.querySelector(".start");
    const story = document.querySelector(".story");

    if (start && story) {
        let hasShaken = false;
        const threshold = 15;

        const handleMotionEvent = (event: DeviceMotionEvent) => {
            if (hasShaken) return;

            const x = event.accelerationIncludingGravity?.x || 0;
            const y = event.accelerationIncludingGravity?.y || 0;
            const z = event.accelerationIncludingGravity?.z || 0;

            const totalAcceleration = Math.sqrt(x * x + y * y + z * z);

            if (totalAcceleration > threshold) {
                story.classList.remove("hidden");
                start.classList.add("hidden");
                hasShaken = true;
                requestAnimationFrame(() => {
                    setupScrollAnimations();
                });
            }
        };

        start.addEventListener("click", () => {
            if (hasShaken) return;
            story.classList.remove("hidden");
            start.classList.add("hidden");
            hasShaken = true;
            requestAnimationFrame(() => {
                setupScrollAnimations();
            });
        });
        console.log("shake");
        window.addEventListener("devicemotion", (event: DeviceMotionEvent) => {
            handleMotionEvent(event);
        });
    }
</script>
