---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div id="Awesome">
        <div class="reveal circle_wrapper">
            <div class="circle">Hello!</div>
        </div>

        <div class="sticky">
            <div class="front circle_wrapper">
                <div class="circle"></div>
            </div>
        </div>

        <h4>Peel Me!</h4>

        <div class="sticky">
            <div class="back circle_wrapper">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</Layout>

<style>
    #Awesome {
        position: relative;
        width: 180px;
        height: 180px;
        margin: 0 auto;

        backface-visibility: hidden;
    }

    #Awesome .sticky {
        /* transform: rotate(45deg); */
    }

    #Awesome .sticky {
        position: absolute;
        top: 0;
        left: 0;
        width: 180px;
        height: 180px;
    }

    #Awesome .reveal .circle {
        box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);

        font-family: "helvetica neue", arial;
        font-weight: 200;
        line-height: 140px;
        text-align: center;

        cursor: pointer;
    }

    #Awesome .reveal .circle {
        background: #fafafa;
    }

    #Awesome .circle_wrapper {
        position: absolute;
        width: 180px;
        height: 180px;
        left: 0px;
        top: 0px;
        overflow: hidden;
    }

    #Awesome .circle {
        position: absolute;
        width: 140px;
        height: 140px;
        margin: 20px;

    }

    #Awesome .back {
        height: 10px;
        top: 30px;
    }

    #Awesome .back .circle {
        margin-top: -130px;
        background-color: #ff6249;

        background-image: -webkit-linear-gradient(
            bottom,
            rgba(251, 236, 63, 0),
            rgba(255, 255, 255, 0.8)
        );
    }

    #Awesome .front {
        height: 150px;
        bottom: 0;
        top: auto;

        box-shadow: 0px -140px 20px -140px rgba(0, 0, 0, 0.3);
    }

    #Awesome .front .circle {
        margin-top: -10px;
        background: #ff6249;

        background-image: -webkit-linear-gradient(
            bottom,
            rgba(251, 236, 63, 0) 75%,
            #ff6249 95%
        );
        background-image: -moz-linear-gradient(
            bottom,
            rgba(251, 236, 63, 0) 75%,
            #ff6249 95%
        );
        background-image: linear-gradient(
            bottom,
            rgba(251, 236, 63, 0) 75%,
            #ff6249 95%
        );
    }

    #Awesome h4 {
        font-family: "helvetica neue", arial;
        font-weight: 200;
        text-align: center;
        position: absolute;
        width: 180px;
        height: 140px;
        line-height: 140px;
    }
</style>
