---
import "../../styles/reset.css";
import "../../styles/global.css";
import Subtitle from "../../components/Subtitle.astro";
import SpeechBubble from "../../components/Speechbubble.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../../assets/tiletableau.png";
import Map from "../../components/Map.astro";
---

<Layout>
    <div class="detail">
        <section class="start">
            <div class="image-wrapper">
                <Image
                    class="image"
                    src={tile}
                    alt="Tile tableau from Aalbeke"
                />
            </div>
            <h1 class="start__title">
                What is hiding behind the labels of Tile Tableaus?
            </h1>
            <p class="start__cta">Shake the labels off</p>
        </section>
        <section class="chapter">
            <Subtitle subtitle="These artworks tell" />
            <Subtitle
                subtitle=" the stories of <span class='h2__highlight'>Aalbeke</span>"
            />
            <SpeechBubble
                text={`Created by Peter de Graaff, he listened to stories from locals,
            dug through the village’s history. They reflect what it was like to live and
            work in the village, both in the past and today. The stories are about the church fire,
            working in agriculture or the textile factory, Saint Cornelius and more.`}
            />
        </section>
        <section class="chapter">
            <Subtitle
                subtitle="12 ceramic tiles are placed along the <span class='h2__highlight'>sidewalks</span>"
            />
            <SpeechBubble
                text={`He took all those stories and turned them into art. In total, there are 12 ceramic tiles with drawings spread throughout the village. You’ll find them placed in the ground along the sidewalks, each one marking a small resting point in the landscape.`}
            />
        </section>
        <section class="chapter">
            <Subtitle
                subtitle="<span class='h2__highlight'>Hugo Claus</span>, the famous writer"
            />
            <SpeechBubble
                text={`One of the scenes shows a young boy writing, and fun fact: that boy turned out to be Hugo Claus, the famous writer. He spent some time living in a boarding school in Aalbeke.`}
            />
        </section>
        <section class="end">
            <Subtitle
                subtitle="Where to see <span class='h2__highlight'>Tile Tableaus</span>?"
            />
            <div class="map" id="map">
                <Map />
            </div>
        </section>
    </div>
</Layout>

<style>
    .detail {
        background-color: var(--primary-color);
        max-width: 100%;
        position: relative;
    }

    .start {
        background-color: var(--black);
        min-height: 80vh;
        padding: 5rem 0;
    }

    .start__title {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .start__cta {
        color: var(--white);
        padding-top: 50vh;
        text-align: center;
        font-size: 1.25rem;
    }

    .chapter {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding: 4rem 0;
        opacity: 0;
    }

    .image-wrapper {
        position: sticky;
        top: 25vh;
        height: 0;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        pointer-events: none;
    }
    .image {
        position: absolute;
        max-width: 25rem;
        height: auto;
        border: 0.5rem solid var(--white);
    }
</style>
