---
import Subtitle from "../../components/Subtitle.astro";
import SpeechBubble from "../../components/Speechbubble.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../../assets/tiletableau.png";
---

<Layout>
    <div>
        <div class="start">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Tegeltableaus?
            </h2>
            <Image class="tile" src={tile} alt="tegeltableaus" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
    </div>
</Layout>

<style>
    .start {
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 90vh;
        position: relative;
    }
    .start__subtitle {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        line-height: 170%;
        padding: 5rem 0rem;
    }

    .start__subtitle::after {
        content: "Tegeltableaus";
        background-color: var(--secondary-color);
        display: flex;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        justify-self: end;
        margin-right: 4rem;
        margin-top: -2.5rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }

    .tile {
        border: 0.5rem solid var(--white);
    }

    .start__text {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--white);
        padding: 3rem;
    }

    .corner-square {
        width: 5rem;
        height: 5rem;
        background: linear-gradient(
            to top left,
            var(--primary-color) 50%,
            var(--secondary-color) 50%
        );
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .corner-square::before {
        content: "";
        width: 4.5rem;
        height: 4.5rem;
        background: url("../../assets/icon/wiggle.svg") no-repeat center/contain;
        display: flex;
        margin-top: -2rem;
        margin-left: -2rem;

    }
</style>
