---
import Subtitle from "../../components/Subtitle.astro";
import SpeechBubble from "../../components/Speechbubble.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import tile from "../../assets/tiletableau.png";
---

<Layout>
    <div class="detail">
        <div class="start hidden">
            <h2 class="start__subtitle">
                What is hiding behind the labels of Tegeltableaus?
            </h2>
            <Image class="tile" src={tile} alt="tegeltableaus" />
            <p class="start__text">Shake the labels off</p>
            <div class="corner-square"></div>
        </div>
        <div class="story">
            <h2 class="story__subtitle top">These artworks tell</h2>
            <h2 class="story__subtitle bottom">
                the stories of <span class="blue bold">Aalbeke</span>
            </h2>
            <Image class="image" src={tile} alt="tegeltableaus" />
            <p class="story__text">
                Created by <span class="bold">Peter de Graaff</span>, he
                listened to stories from locals dug through the village’s
                history. They reflect what it was like to live and work in the
                village, both in the past and today. The stories are about the
                church fire, working in agriculture or the textile factory,
                Saint Cornelius and more.
            </p>
        </div>
    </div>
</Layout>

<style>
    .detail {
        position: relative;
    }

    .start {
        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        position: relative;
    }
    .start__subtitle {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 600;
        text-align: center;
        line-height: 170%;
        padding: 3rem 0rem;
    }

    .start__subtitle::after {
        content: "Tegeltableaus";
        background-color: var(--secondary-color);
        display: flex;
        justify-self: end;
        width: fit-content;
        padding: 0.2rem 0.8rem;
        color: var(--black);
        border-radius: 3rem;
        margin-right: 4rem;
        margin-top: -2rem;
        rotate: -3deg;
        font-size: 1.25rem;
    }

    .tile {
        border: 0.5rem solid var(--white);
        display: flex;
        justify-self: center;
    }

    .start__text {
        font-size: 1.25rem;
        font-weight: 500;
        color: var(--white);
        padding: 4rem;
    }

    .corner-square {
        width: 5rem;
        height: 5rem;
        background: linear-gradient(
            to top left,
            var(--primary-color) 50%,
            var(--secondary-color) 50%
        );
        bottom: 0;
        right: 0;
        position: absolute;
    }

    .corner-square::before {
        content: "";
        width: 4.5rem;
        height: 4.5rem;
        background: url("../../assets/icon/wiggle.svg") no-repeat center/contain;
        display: flex;
        margin-top: -2rem;
        margin-left: -2rem;
    }

    .story {
        position: relative;
        margin-top: 3rem;
    }

    .story__subtitle {
        background-color: var(--white);
        font-weight: 500;
        padding: 0.8rem;
        text-align: center;
        font-size: 1.25rem;
        margin: 1rem 0rem;
    }
    .top {
        rotate: 3deg;
    }

    .story__text {
        border: 0.1rem solid var(--black);
        background-color: var(--white);
        padding: 1rem;
        border-radius: 0rem 2.5rem 2.5rem 2.5rem;
        max-width: 23rem;
        margin: 2rem 0.8rem;
        line-height: 150%;
        overflow: hidden;
    }

    .image {
        display: flex;
        justify-self: center;
    }


</style>
