---
import "../styles/reset.css";
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout>
	<div class="home">
		<div class="heroimg"></div>
		<div class="info">
			<div class="subtitle">
				<p class="subtitle__item">spit</p>
				<p class="subtitle__item">spit t</p>
				<p class="subtitle__item">spit th</p>
				<p class="subtitle__item">spit the</p>
				<p class="subtitle__item">spit the t</p>
				<p class="subtitle__item">spit the tr</p>
				<p class="subtitle__item">spit the tru</p>
				<p class="subtitle__item">spit the trut</p>
				<p class="subtitle__item">spit the truth</p>
			</div>
		</div>
	</div>
</Layout>

<style>
	.home {
		background-color: var(--primary-color);
	}
	.subtitle {
		padding: 1rem;
	}

	.subtitle__item {
		font-size: 3.75rem;
		font-family: "Obviously-narrow";
		font-weight: 300;
		text-transform: uppercase;
		color: var(--white);
		opacity: 0;
		transform: translateY(20px);
	}
</style>
