---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
	<h1>overview</h1>
	<a href="/behindthelabel/artworks/ballerinaman">
		<h2>ballerinaman</h2>
	</a>
	<a href="/behindthelabel/artworks/happilyeverafter">
		<h2>happilyeverafter</h2>
	</a>
	<a href="/behindthelabel/artworks/ileadtheway">
		<h2>ileadtheway</h2>
	</a>
	<a href="/behindthelabel/artworks/mentie">
		<h2>mentie</h2>
	</a>
	<a href="/behindthelabel/artworks/plinth">
		<h2>plinth</h2>
	</a>
	<a href="/behindthelabel/artworks/skribbel">
		<h2>skribbel</h2>
	</a>
	<a href="/behindthelabel/artworks/squarecircle">
		<h2>squarecircle</h2>
	</a>
	<a href="/behindthelabel/artworks/tiletableaus">
		<h2>tiletableaus</h2>
	</a>
</Layout>
